.display-results{
    text-align: center;
    padding-top:1rem;
    background-color: #63A6BB;
    height: fit-content;
}
.question h2{
    background-color: #C4C4C4;
    width:fit-content;
    padding: 0.5rem 1rem;
}
.red{
    background-color: red;
}
.green{
    background-color: lightgreen;
}
ul{
    
    width: 50%;
    padding: 1rem;
    background-color: rgb(190, 184, 184);
}
.display-results-container{
    margin-left: 3rem;
    margin-bottom: 4rem;
}
.logout-btn-container{
    width: 100%;
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 2rem;
}