
body {
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}.grade {
    width:40%;
    height: 50vh;
    margin: 7rem auto;
    background-color: #d9e9f3a9;
    text-align: center;
    padding-top: 3%;
}
i{
    padding-top: 2rem;
    font-size: 90px;
    color: green;
}
.wrong{
    padding-top: 2rem;
    font-size: 90px;
    color: rgb(184, 0, 0);

}
